/* Estilo para el contenedor principal */
body {
    
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.estilo-personalizado{
    background-color: cornflowerblue;
    
}

header {
    
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section#main-content {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

footer {
    margin-top: 63px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilo para los contenedores de medios */
.media-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.video-container,
.image-container {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.video-container iframe,
.image-container img {
    width: 100%;
    height: auto;
}
