
/* Estilo para el encabezado */
.button{
  display: flex;
  margin-top: 5px;
  border-radius: 5px;
  background-color: rgb(182, 173, 163);
}
.button:hover
{
    background-color: rgba(171, 85, 224, 0.493);
}

header {
    background-color: #333; /* Color de fondo oscuro */
    color: white; /* Texto en color blanco */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Alineación centrada del texto */
  }
  
  /* Estilo para el título principal */
  h1 {
    margin: 0; /* Elimina el margen superior e inferior */
  }
  
  /* Estilo para el contenido principal */
  main {
    padding: 20px; /* Espaciado interno */
    margin-left: 30%;
;
  }
  
  /* Estilo para la sección de trayectorias */
  #trayectorias {
    margin-bottom: 20px; /* Margen inferior */
  }
  
  /* Estilo para los campos del formulario */
  form label {
    display: block; /* Mostrar etiquetas en bloques */
    margin-bottom: 5px; /* Margen inferior */
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="tel"],
  form textarea {
    /* width: 100%; */ /* Ancho completo */
    width: 50%;
    margin-bottom: 10px; /* Margen inferior */
    padding: 8px; /* Espaciado interno */
    background-color:bisque;
  }
  
  /* Estilo para el pie de página */
  footer {
    background-color: #333; /* Color de fondo oscuro */
    color: white; /* Texto en color blanco */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Alineación centrada del texto */
  }
  

  .clase-personalizada {
    background-color:cornflowerblue; /* anula el fondo de bootstrap */
  }